@media screen and (max-width: 1440px) {
    .App {

        .container {
            padding-right: 40px;
            .WelcomePage {
                .left {
                    h1 {
                        font-size: 26px;
                    }
                }

                .right {
                    .avatar img {
                        width: 300px;
                        height: 300px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1260px) {
    .App {
        .container {
            .WelcomePage {
                .left {
                    h1 {
                        font-size: 22px;
                    }

                    h2 {
                        font-size: 20px;
                    }

                    p {
                        font-size: 14px;
                    }
                }

                .right {
                    .avatar img {
                        width: 250px;
                        height: 250px;
                    }
                }
            }

            .Cases {
                .cases-box {
                    .case {
                        .case-img {
                            img {
                                width: 450px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .App {
        p {
            font-size: 14px !important;
        }

        .Navigation {
            .navBar {
                div {
                    p {
                        font-size: 12px !important;
                    }
                }
            }
        }

        .container {

            .WelcomePage {
                flex-direction: column;
                justify-content: flex-start;

                .left {
                    width: 100%;

                    h1 {
                        font-size: 18px;
                    }

                    p {
                        letter-spacing: normal;
                    }
                }

                .right {
                    width: 100%;
                    margin-top: 50px;
                    display: flex;
                    justify-content: flex-start;

                    .avatar img {
                        width: 250px;
                        height: 250px;
                    }
                }
            }
        }
    }

    .Skills {
        .skills {
            .my-skills {
                flex-wrap: wrap;
            }
        }
    }

    .Cases {
        .cases-box {
            .case {
                flex-direction: column;

                .right {
                    width: 100%;
                    margin-top: 30px;
                }

                .left {
                    width: 100%;
                }
            }
        }
    }

    .Contacts {

        .contact-bottom {
            flex-direction: column;

            .contacts {
                max-width: 500px;
                width: 100%;
                margin: 50px auto;
                text-align: center;
                margin-left: 0;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .App {
        display: block;

        .wrapper {
            width: 100%;

            .night-mode-trigger {
                position: fixed;
                top: 110px;
                right: 20px;
                cursor: pointer;
                z-index: 100;
                font-size: 30px;
                width: 30px;
            }

            .Burger {
                display: block;
            }
        }

        .container {
            width: 80%;
            margin: 0 100px 0 20px;

            .WelcomePage {
                flex-direction: column;
                justify-content: flex-start;

                .left {
                    width: 100%;

                    h1 {
                        font-size: 26px;
                    }
                }

                .right {
                    margin-top: 120px;
                    width: 100%;

                    .avatar img {
                        width: 400px;
                        height: 400px;
                    }
                }
            }

            .Skills {
                .skills {
                    .my-skills {
                        flex-wrap: wrap;
                    }
                }
            }

            .Cases {
                .cases-box {
                    .case {
                        .case-img {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .wrapper {
            .Navigation {
                display: none;
            }
        }
    }

    .Contacts {
        p {
            width: 100%;
        }

        .contact-bottom {
            flex-direction: column;

            form {
                max-width: 100%;
                width: 100%;
            }

            .contacts {
                width: 100%;
                margin: 50px auto;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .App {
        p {
            font-size: 13px !important;
        }
        .wrapper {
            .Burger {
                &.active {
                    .burgerIcon {
                        .line1 {
                            transform: rotate(55deg) translateY(6px) translateX(5px); 
                        }

                        .line3 {
                            transform: rotate(-55deg) translateY(-6px) translateX(5px); 
                        }
                    }
                }
                .burgerIcon {
                    right: 10px;
                    .line {
                        width: 25px;
                        height: 2px;
                    }
                }
                
                .burger-menu {
                    ul {
                        padding: 0;
                    }
                }
            }
        }
        .container {
            .WelcomePage {
                .right {
                    .avatar img {
                        width: 320px;
                        height: 320px;
                    }
                }
            }

            .Cases {
                .cases-box {
                    .case {
                        .right {
                            .case-description {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }

            .Contacts {
                font-size: 13px;
            }
            
        }
    }
}

@media screen and (max-width: 419px) {
    .App {
        .container {
            .WelcomePage {
                .right {
                    .avatar img {
                        width: 300px;
                        height: 300px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 419px) {
    .App {
        .container {
            .WelcomePage {
                .right {
                    .avatar img {
                        width: 250px;
                        height: 250px;
                    }
                }
            }
        }
    }
}

@media screen and (max-height: 780px) {
    .App {
        .container {
            .WelcomePage {
               .right {
                margin-top: 10px;
               }
            }

            .Skills {
                height: calc(100vh + 135px);
            }
        }
    }
}

@media screen and (max-height: 720px) {
    .App {
        .container {
            .WelcomePage,
            .About, 
            .Skills,
            .Cases,
            .Contacts {
                height: max-content;
            }
        }
    }
} 