.Navigation {
    position: sticky;
    top: 135px;
    margin-left: 50px;

    .navBar {
        width: 200px;
        height: 450px;

        div {

            display: flex;
            align-items: flex-start;

            p {
                order: 2;
                font-size: 12px;
                margin-top: 0px;
                margin-left: 10px;
                cursor: pointer;
            }

            .scrollbar {
                display: flex;
                flex-direction: column;

                svg {
                    height: 96px;


                    rect {
                        fill: #C9C6C6;
                    }

                    g {
                        rect {
                            fill: #333;
                        }
                    }
                }
            }

        }
    }

    .night-mode-trigger {
        width: 40px;
        height: 40px;
        cursor: pointer;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        background-color: #f6f6f6;
        color: #333;
    }
}

