.App.NightMode {
    color: #fff;
    background-color: #121212;
    transition: all .3s;


    .Cases {
        .cases-box {
            .case {
                .right {
                    .case-links {
                        a {
                            color: rgb(216, 216, 216);
                        }
                    }
                }
            }
        }
    }

    .Contacts .contact-bottom form input,
    .Contacts .contact-bottom form textarea {
        background-color: #121212;
        color: #fff;
    }

    .Skills {
        .item-icon {
            background-color: #282828;
            color: #F8F8F8;

            &:hover {
                background-color: #F8F8F8 !important;
                color: #282828 !important;
            }
        }
    }

    .wrapper {
        .Navigation {
            .night-mode-trigger {
                color: #fff;
                background-color: #202020;
            }
            .navBar {
                div {
                    .scrollbar {
                        svg {
                            rect {
                                fill: rgb(63, 63, 63) !important;
                            }

                            g {
                                rect {
                                    fill: #fff !important;
                                }
                            }
                        }
                    }
                }
            }

        }
        .Burger {
            .burger-menu {
                background-color: #121212;
            }
            .burgerIcon {
                .line {
                    background-color: #fff;
                }
            }
        }
    }

    
}