.WelcomePage {
    width: 100%;
    height: calc(100vh - 135px);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .left {
        width: 45%;
    }

    .right {
        width: 45%;
        display: flex;
        justify-content: flex-end;

        .avatar {
            img {
                background-color: #333;
                width: 415px;
                height: 415px;
                border-radius: 50%;
            }
        }
    }

    p {
        font-size: 15px;
    }
}